.btn{
float: "right"
}
.loaderPosition{
    text-align: center;
    margin-top: 200px;
  }
  .sidebars {
    height: 280px;
    overflow: auto;
    overflow-y: scroll;
  }
  .cartContent{
    margin: 30px;
  }
  .contentManage{
    margin: 0px;
  }
  .mainDiv {
    width:70%;
  }
  .main {
    width:70%;
  }
