<div class="btnAlign">
    <button class="btn btn-primary" style="margin-left: 10px;" ng-click="GoBack()">Go Back</button><h1><b style="margin-left: 450px;">Aggregated Data Import</b></h1>
</div>
<div ng-controller="LeftBarMenuController" class="card length">
    <div class="side-bar card-body">
        <div id="orgUnitTree">
         <ul>
        </ul>
    </div>
</div>
<div class="content length1">
    <div class="shadow-lg p-3 mb-5 bg-white rounded card" style="width: 34rem;" ng-controller="LeftBarMenuController">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Organisatioin Unit<input ng-model="selectedOrgUnit.name" class="form-control" /></li>
                <li class="list-group-item">Period<select id="period" class="form-control">
                    <option ng-repeat="year in years">{{year}}</option>
                </select></li>
                <li class="list-group-item"> Please Upload .xlsx or .csv file <input type="file" style="width:300px; background-color: yellow;" id="fileInput"></li>
                <li class="list-group-item"><button class="btn btn-primary" ng-click="getSet()">Import</button></li>
              </ul>
      </div>
    </div>
</div>