<div id="mainPage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fonts">
    <div class="btnAlign">
        <h1><b style="margin-left: 530px; font-size: 30px">Data/Import</b></h1>
    </div>
    <div class="grid-container" ng-controller="LeftBarMenuController">
        <div class="item1">
            <img class="logo" src="img/excel.png" width="200px" height="250px" />
        </div>
        <div class="item2" >
            <a href ng-click="TrackerPanel()"><span style="color: darkgreen;">Outbreak Data Import</span></a>
        </div>
        <div class="item3" style="color: darkgreen;">
            <a href ng-click="AggregatedPanel()"><span style="color: darkgreen;">Sub-National Data Import</span></a>
        </div>
    </div>
</div>