
.font {
  font-size: 12px;
}
.sidebar {
    height: 430px;
    width: 18%;
    top: 0;
    left: 0;
    background-color: rgb(253, 251, 251);
    overflow: auto;
    overflow-y: scroll;
    margin-top: 50px;
  }
  
  .main-div {
    width:70%;
    height: 40px;
    align-content: center;
  }