.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.ou{
width: 60px !important;
}
.tWidth{
    width: 100px !important;
    margin-left: 200px !important;
    margin-top: 30px !important;
}
.orgUnit{
    overflow-x: scroll;
    overflow-y: scroll;
}